spring:
  application:
    name: order-service

  datasource:
    url: jdbc:mysql://localhost:3306/orderdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # dev only.Ensure Hibernate is set to create/update the schema
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true


#Logging Config for Debugging Purposes
logging:
  level:
    root: DEBUG
    org.springframework.web: DEBUG